* {
  margin: 0;
  padding: 0;
}

.container1 {
  background-color: #CCC;
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
}

.container1 li {
  list-style-type: none;
}

.container1 a {
  display: inline-block;
  padding: 25px;
  margin: 0 25px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.container1 a:hover {
  background-color: rgb(14, 116, 249) ;
}

li::marker {
  color: black;
  content: '<>';
  font-size: 1.1em;
}

.container{
  display: inline-flex;
  flex: 1 1 300px;
  border-radius: 10px;
  border: 1px solid #d77030;
  overflow: hidden;
}

.icon {
  padding: 0.8rem;
  background-color: white;
}

.searchBox {
  border: 0;
  flex: 1;
}
 
.searchButton {
  color: white;
  background: #0f4a8a;
  border: 0;
  padding: 0.8rem;
  border-radius: 8px;
}

body { 

    display: grid; 

    height: 200px; 

    grid-template-areas: "head head" 

                         "nav  main" 

                         "footer  footer"; 

    grid-template-rows: 30px 1fr 30px; 

    grid-template-columns: 1fr 1fr; 

  } 

  body {
    display: grid;
    height: 150vh;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: #2c3333;
    text-align: center;
    padding: 2em;
}

main {
    background-color: #395B64;
    text-align: center;
    padding: 2em
}

footer {
    background-color: #A5C9CA;
    text-align: center;
    padding: 2em;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items:flex-end;
    flex-wrap: wrap;
    gap:10px;
}
.box3{
    background-color: blanchedalmond;
    align-self: center;
    flex: 1 1 auto;
}


.box{
    background-color: aquamarine;
    border-radius: 5px;
    margin: 2px;
    padding: 10px;
}
   

  header { 

    grid-area: head; 

    background-color: lightsalmon; 

  } 

   

  .nav-bar { 

    grid-area: nav; 

    background-color: lightblue; 

  } 

   

  main { 

    grid-area: main; 

    background-color: lightyellow; 

  } 

   

  footer { 

    grid-area: footer; 

    background-color: firebrick; 

  } 

