body {
    background-color: rgb(255, 255, 255);
    font-family: 'Markazi Text', serif;
    margin: 1rem 3rem 5% 5%;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav  ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
}

nav a {
    padding: 20px;
    margin: 0px 20px;
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}

a:hover {
    color: rgb(160, 160, 17);
}

button:hover {
    color: rgb(20, 189, 48);
}

section {
    display: flex;
}

.what_we {
    display: block;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}

article {
    display: inline-flex;
    flex: 1;
    justify-content: center;
}

.design {
    background-color: rgb(206, 49, 49);
    padding: 2.2rem;
    margin: 2rem;
    border-radius: 1rem;
    color: white;
    box-shadow: 1px 2px 1px 2px rgb(237, 206, 206);
}

.maintenance {
    background-color: rgb(237, 206, 206);
    border-radius: 1rem;
    border: 1px solid rgb(206, 49, 49);
    padding: 2.2rem;
    margin: 2rem;
    box-shadow: 1px 2px 1px 2px rgb(206, 49, 49);
    font-size: 1rem;
}

.selling {
    justify-content: center;
    background-color: rgb(206, 49, 49);
    padding: 2.2rem;
    margin: 2rem;
    border-radius: 1rem;
    color: white;
    box-shadow: 1px 2px 1px 2px rgb(237, 206, 206);
    font-size: 1rem;
}

.selling > button {
    border-radius: 2rem;
    border: 2rem rgb(206, 49, 49);
    background-color: white;
    padding: 1rem;
    margin: 0px 90px;
    font-size: 1.2rem;
}

footer {
    display: flex;
    background-color: brown;
    align-items: center;
}

footer div {
    flex: 1;
    padding: 2rem;
    font-size: 1rem;
    color:rgb(255, 255, 255);
}

footer ul {
    list-style: none;
    flex-flow: row wrap;
}

footer li{
    display: list-item;
    margin: 1rem;
}

footer a {
    text-decoration: none;
    color:rgb(255, 255, 255);
    text-align: center;
}

footer .img {
    background-color: rgb(237, 206, 206);
    margin: 0px;
}

.img img {
    margin: 0 9rem;
}