* {
    font-family: sans-serif;
}

input,
button {

    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}
input {
    display: block;
    margin-bottom: 1.3rem ;
}
button {
    margin: 5px;
    border: 1px solid gray;
}
button:nth-of-type(5),
button:nth-of-type(6) {
    background-color: tomato;
    color: white;
}
